{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}

{{this.registerJs("HomeController.listing();")}}
{% set limit = 20 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{% set articleCount = 0 %}


{% set sidePanel =  "Breaking News" %}
{% set sidePanelfeed = [] %}
{% for blog in networkData.networkBlogs %}
    {% if blog.title == sidePanel %}
        {% set sidePanelfeed = _Blog.getBlogFeed({'limit': 5, 'offset': 0, 'blogid':blog.guid}) %}
    {% endif %}
{% endfor %}

{% set popularArticles = _Article.getPopularArticles({ limit: 10, sortBy: 'VIEWS' }) %}




    <section class="main-featured">
        <div class="row feature-row">

            <div class="feature col-sm-12 col-md-7">
                {% if articles[0] %}                                                                
                    {{this.render('partials/_single-article.twig', {article: articles[articleCount], position: 1, containerClass: 'swiper-slide'}) | raw}}
                    {% set articleCount = articleCount + 1 %}
                {% endif %}
            </div>
                <!-- Add Pagination -->
            <div class="top-articles col-sm-12 col-md-5">
                <h3>TOP STORIES</h3>

                {% for i in 1..3 %}
                    {% if articles[i] %}                                                                
                        {{this.render('partials/_single-article.twig', {article: articles[articleCount], position: 1}) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                {% endfor %}
            </div><!--container-->
        </div>
    </section><!--featured-carousel-->

    <section class="content-block container">
        <div class="row">

            <div class="col-md-9 col-sm-12">
                <div class="row">
                    {% if articles[3] %}
                        {{this.render('partials/_single-article.twig', {article: articles[3], 'position': (4), containerClass: 'col-sm-8 card-md'}) | raw}}
                    {% endif %}
                    {% if articles[4] %}
                        {{this.render('partials/_single-article.twig', {article: articles[4], 'position': (5), containerClass: 'col-sm-4 card-sm'}) | raw}}
                    {% endif %}
                    {% if articles[5] %}
                        {{this.render('partials/_single-article.twig', {article: articles[5], 'position': (6), containerClass: 'col-sm-4 card-sm'}) | raw}}
                    {% endif %}
                    {% if articles[6] %}
                        {{this.render('partials/_single-article.twig', {article: articles[6], 'position': (7), containerClass: 'col-sm-8 card-md'}) | raw}}
                    {% endif %}
                </div><!--row-->
            </div>

            <div class="col-md-3 col-sm-12">
                <aside class="left-border">
                    <section class="aap-news">
                        <h2>AAP<br />BREAKING<br />NEWS</h2>
                        {% for i in 0..4 %}
                            {% if articles[i] %}
                                {{this.render('partials/_sidebar-article.twig', {article: sidePanelfeed.articles[i]}) | raw}}
                            {% endif %}
                        {% endfor %}

                        <a href="#" class="viewmore">VIEW MORE</a>
                    </section>

                    <section class="subscribe">
                        <h3>Get Reportage direct to your inbox</h3>
                        <form method="get" id="subscribe-form" action="#">
                            <label for="header-search" class="assistive-text sr-only">Search</label>
                            <div class="input-group">
                                <input type="email" class="field form-control" name="email" placeholder="Email" required="">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" id="searchsubmit">
                                        <span class="icon-submit icon"></span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </section>
                </aside>
            </div>
        </div>
    </section>

    <div class="container">
        <h5>2SER</h5>
        <section class="content-block ser">
            <div class="row">
                <div class="col-sm-4">
                    <a href="http://www.2ser.com/players" onClick="window.open(this.href, 'child', 'scrollbars,width=750,height=430'); return false">
                        <img src="{{networkData.templatePath}}/static/images/ser.png" alt="ALT">
                    </a>
                </div><!--col-sm-4-->
                
                {% if popularArticles|length > 0 %}
                    {% for i in 0..1 %}
                        {{this.render('partials/_single-article.twig', {article: popularArticles[i], 'position': (i+1), containerClass: 'col-sm-4 card-strip'}) | raw}}
                    {% endfor %}
                {% endif %}


{#                 <div class="col-sm-4">
                    <article class="card other">
                        <div class="content">
                            <span class="author">Sophie Mckailero  - </span>
                            <time datetime="2016-11-16">16 Sep 2016</time>
                            <h2>National Biochemistry Week Listen to the highlights</h2>
                            <p>Ribus eosanim exero omnit, asnis masioel oto a tempum esciis am aditate et vent latis volorpo renimpo resequi que praernam nred es demquis solorum sequatem incilic ipsaesc imiliasped magnate</p>
                        </div>
                    </article>
                </div><!--col-sm-4-->
                <div class="col-sm-4">
                    <article class="card other">
                        <div class="content">
                            <span class="author">Sophie Mckailero  - </span>
                            <time datetime="2016-11-16">16 Sep 2016</time>
                            <h2>National Biochemistry Week Listen to the highlights</h2>
                            <p>Ribus eosanim exero omnit, asnis masioel oto a tempum esciis am aditate et vent latis volorpo renimpo resequi que praernam nred es demquis solorum sequatem incilic ipsaesc imiliasped magnate</p>
                        </div>
                    </article>
                </div><!--col-sm-4--> #}
            </div><!--row-->
        </section><!--ser-->
    </div>

    <section class="highlight content-block">
        {% if articles[7] %}
            {{this.render('partials/_single-article.twig', {article: articles[7], 'position': (8), containerClass: 'card-lg'}) | raw}}
        {% endif %}
    </section><!--highlight-->

    <section class="content-block container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <aside class="right-border">
                    <section class="top-stories">
                        <h2>MOST VIEWED STORIES</h2>

                        {% if popularArticles|length > 0 %}
                            {% for article in popularArticles %}
                                {{this.render('partials/_sidebar-article.twig', {article: article}) | raw}}
                            {% endfor %}
                        {% endif %}

                    </section>
                </aside>
            </div>

            <div class="col-md-9 col-sm-12">
                <div class="row">

                    {% if articles[8] %}
                        {{this.render('partials/_single-article.twig', {article: articles[8], 'position': (9), containerClass: 'col-sm-4 card-sm'}) | raw}}
                    {% endif %}
                    {% if articles[9] %}
                        {{this.render('partials/_single-article.twig', {article: articles[9], 'position': (10), containerClass: 'col-sm-8 card-md'}) | raw}}
                    {% endif %}
                    {% if articles[10] %}
                        {{this.render('partials/_single-article.twig', {article: articles[10], 'position': (11), containerClass: 'col-sm-4 card-sm'}) | raw}}
                    {% endif %}
                    {% if articles[11] %}
                        {{this.render('partials/_single-article.twig', {article: articles[11], 'position': (12), containerClass: 'col-sm-4 card-sm'}) | raw}}
                    {% endif %}
                    {% if articles[12] %}
                        {{this.render('partials/_single-article.twig', {article: articles[12], 'position': (13), containerClass: 'col-sm-4 card-sm'}) | raw}}
                    {% endif %}

                </div><!--row-->
            </div>

        </div>
    </section>
